@import url("css-screen.css") screen, projection, tv;
@import url("css-print.css") print;
* {
    box-sizing: border-box;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
a img {
    border: 0;
}
html {
    position: relative;
    margin:0;
    height: 100%;
}
body {
    font-family:Roboto, DejaVu Sans, sans-serif;
    font-size:medium;
    margin:0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    margin: 0 auto -8em;

    padding: 1em;

}
.header{
    border: none ;
    padding: 6px;
    margin-top: 0pt;
    margin-bottom: 0pt;

    clear:left;
}
#push{
    height: 8em;
}
.footer {
    width: 100%;
    height: 8em;    
    overflow:auto;
    text-align: center;

}

.footer span{    white-space:nowrap;}
.footer-text {font-size:80%;}
.footer img{
    padding-top: 0.5em;
    height: 5em;
}

h1{
    margin-top: 0ex;
    margin-bottom: 0.75ex;
}
h2{
    margin-top: 0ex;
    margin-bottom: 0.75ex;
}
h3{
    margin-top: 0.75ex;
    margin-bottom: 0.75ex;
}
h4{
    margin-top: 1.75ex;
    margin-bottom: 0.25ex;
    padding-left:6ex;
}
h4 img{
    height: 1.75em;

}
.searchinput{
    display: block;
    overflow: hidden;
    padding-left:1ex;
    padding-bottom:0.25ex;
    padding-top:0.25ex;
}
.searchinput input{
    width: 100%;

}
.optionsbeforesearchinput {
    float: left;
    padding-right: 1ex;
}
.input-label{
    float: left;

}
.controls{
    width:100%;
    display:table;
}
.left-controls{
    text-align:left;
    display:table-cell;
}
.mid-controls{
    text-align:center;
    display:table-cell;
}

.right-controls{
    text-align:right;
    display:table-cell;
}
.radiolabel {
    color: grey;
}
.radio:checked + .radiolabel {
    color: black;
}
.gender{
    font-style: italic;
    text-align: center;
}
.pn{
    font-style: normal;
}
.tab{
    clear:left;
}
.tab th{
    font-variant: small-caps;
    background-color:#f0f0f0;
}
.t, .pn, .gender, .noatt{
    padding-left: 0.5ex;
    padding-right: 0.5ex;
}
.no-att{
    text-align: center;
}
.red{
    color:darkred;
}
.spellings ol {
    margin:0px;
    padding-left:1em;
}
.spellings ol li {
    list-style-position: outside;
}
.name a:link, .biblio-ref a:link, .place a:link, .type a:link, .inscription a:link, .title a:link{
    text-decoration:none;
}
.filter{
    background-color: #f3f3f3;
}
.name a:hover,.biblio-ref a:hover, .place a:hover, .type a:hover, .inscription a:hover, .title a:hover{
    text-decoration:none;
}
.name a:active,.biblio-ref a:active, .place a:active, .type a:active, .inscription a:active, .title a:active{
    text-decoration:none;
}
@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Italic.eot');
    src: url('subset-Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('subset-Roboto-Italic.woff2') format('woff2'),
        url('subset-Roboto-Italic.woff') format('woff'),
        url('subset-Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Bold.eot');
    src: url('subset-Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-Roboto-Bold.woff2') format('woff2'),
        url('subset-Roboto-Bold.woff') format('woff'),
        url('subset-Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-BoldItalic.eot');
    src: url('subset-Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('subset-Roboto-BoldItalic.woff2') format('woff2'),
        url('subset-Roboto-BoldItalic.woff') format('woff'),
        url('subset-Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Regular.eot');
    src: url('subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('subset-Roboto-Regular.woff2') format('woff2'),
        url('subset-Roboto-Regular.woff') format('woff'),
        url('subset-Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

