@import url("css-screen.css") screen, projection, tv;
@import url("css-print.css") print;
* {
    box-sizing: border-box;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
a img {
    border: 0;
}
html {
    position: relative;
    margin:0;
    height: 100%;
}
body {
    font-family:Roboto, DejaVu Sans, sans-serif;
    font-size:medium;
    margin:0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    margin: 0 auto -8em;

    padding: 1em;

}
.header{
    border: none ;
    padding: 6px;
    margin-top: 0pt;
    margin-bottom: 0pt;

    clear:left;
}
#push{
    height: 8em;
}
.footer {
    width: 100%;
    height: 8em;    
    overflow:auto;
    text-align: center;

}

.footer span{    white-space:nowrap;}
.footer-text {font-size:80%;}
.footer img{
    padding-top: 0.5em;
    height: 5em;
}

h1{
    margin-top: 0ex;
    margin-bottom: 0.75ex;
}
h2{
    margin-top: 0ex;
    margin-bottom: 0.75ex;
}
h3{
    margin-top: 0.75ex;
    margin-bottom: 0.75ex;
}
.searchinput{
    display: block;
    overflow: hidden;
    padding-left:1ex;
    padding-bottom:0.25ex;
    padding-top:0.25ex;
}
.searchinput input{
    width: 100%;
}
.input-label{
    float: left;
    padding-bottom:0.25ex;
    padding-top:0.25ex;
}
.radiolabel {
    color: grey;
}
.radio:checked + .radiolabel {
    color: black;
}
.sex{
    font-style: italic;
    text-align: center;
}
.pn{
    font-style: normal;
}

.tab th{
    font-variant: small-caps;
    background-color:#f0f0f0;
}
.t, .pn, .sex, .noatt{
    padding-left: 0.5ex;
    padding-right: 0.5ex;
}
.no-att{
    text-align: center;
}
@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Italic.eot');
    src: url('subset-Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('subset-Roboto-Italic.woff2') format('woff2'),
        url('subset-Roboto-Italic.woff') format('woff'),
        url('subset-Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Bold.eot');
    src: url('subset-Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-Roboto-Bold.woff2') format('woff2'),
        url('subset-Roboto-Bold.woff') format('woff'),
        url('subset-Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-BoldItalic.eot');
    src: url('subset-Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('subset-Roboto-BoldItalic.woff2') format('woff2'),
        url('subset-Roboto-BoldItalic.woff') format('woff'),
        url('subset-Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Regular.eot');
    src: url('subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('subset-Roboto-Regular.woff2') format('woff2'),
        url('subset-Roboto-Regular.woff') format('woff'),
        url('subset-Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
